{% extends "layout.html" %} {% block content %} {% block carrusel %}{% endblock %}
<div class="jumbotron">
    <h2 class="display-4 animated fadeIn">Listado de ciclos lectivos</h2>
    <hr class="my-4"> {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} {% if error_busqueda != 1%}

    <div class="alert alert-warning alert-dismissible fade show animated fadeIn" role="alert">
        <strong>Nota:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% endif %}{% endfor %} {% endif %} {% endwith %}

    <div class="text-right">
        <button class="btn btn-primary" onclick="location.href='/ciclo_lectivo/registrar'">
            <i class="fa fa-plus"></i>
            Agregar ciclo lectivo
        </button>
    </div>
    <!-- No se permite tener el form dentro de la table -->
    <form class="form-horizontal my-2 my-lg-0" method="get">
        {{ form.termino.label }}:
        <div class="from-group">
            <div class="">{{ form.termino(size=32) }}</div>
            <div class="">{{ form.submit() }}</div>
        </div>
    </form>
    <br> {% if pagination.total == 0 and search == False %}
    <div class="alert alert-warning alert-dismissible fade show animated fadeIn" role="alert">
        <strong>Nota:</strong> No hay ciclos lectivos cargados.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    {% endif %}

    <p>Total de ciclos lectivos: <strong>{{ pagination.total }}</strong></p>
    <div class="table-responsive">
        <table class="table text-center">
            <caption>Tabla con los ciclos lectivos registrados</caption>

            <thead class="thead-dark">
                <tr>
                    <th scope="col" id="id" aria-label="id">ID</th>
                    <th scope="col" id="fecha_inicio" aria-label="fecha de inicio del ciclo lectivo">Fecha de inicio</th>
                    <th scope="col" id="fecha_fin" aria-label="fecha de fin del ciclo lectivo">Fecha de fin</th>
                    <th scope="col" id="semestre" aria-label="semestre del ciclo lectivo">Semestre</th>
                    <th scope="col" id="operaciones" aria-label="operaciones">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                {% for c in ciclos_lectivos %}
                <tr>
                    <th scope="row" id="tupla{{ loop.index }}">{{ c.id }}</th>
                    <td headers="fecha_inicio">{{ c.fecha_ini }}</td>
                    <td headers="fecha_fin">{{ c.fecha_fin }}</td>
                    <td headers="semestre">{{ c.semestre }}</td>
                    <td headers="operaciones">
                        {% if 'ciclo_lectivo_show' in session['permisos'] %}
                        <button type="button" onclick="location.href='/ciclo_lectivo/show/{{ c.id }}'" class="btn btn-primary" title="Ver ciclo lectivo" style="margin: 5px"><i class="fa fa-eye"></i></button>{% endif %} {% if 'ciclo_lectivo_destroy'
                        in session['permisos'] %}
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary eliminar" title="Eliminar ciclo lectivo" role="button" data-toggle="modal" data-target="#eliminarCicloLectivoModal{{ c.id }}"><i class="fa fa-trash"></i>
                        </button> {% endif %}
                        {% if 'ciclo_lectivo_update' in session['permisos'] %}
                        <button type="button" onclick="location.href='/index/taller?ciclo={{ c.id }}'" class="btn btn-primary" title="Agregar taller" style="margin: 5px"><i class="fa fa-plus"></i> Agregar Taller</button>
                        {% endif %}

                        <!-- Modal Eliminar Ciclo Lectivo -->
                        <div class="modal fade" id="eliminarCicloLectivoModal{{ c.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">¿Estás seguro que querés eliminar al ciclo lectivo del semestre {{ c.semestre }} que inicia el {{ c.fecha_ini }} y finaliza el {{ c.fecha_fin }}?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                    </div>
                                    <div class="modal-body">
                                        No se podrá revertir el cambio.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                        <button onclick="location.href='/ciclo_lectivo/eliminar/{{ c.id }}'" type="button" class="btn btn-primary">Si, estoy seguro.</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    <div class="text-center animated fadeIn" aria-label="Páginas de la tabla">
        {{ pagination.links }}
    </div>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} {% if error_busqueda == 1%}

    <div class="alert alert-warning alert-dismissible fade show animated fadeIn" role="alert">
        <strong>Nota:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
    </div>

    {% endif %}{% endfor %} {% endif %} {% endwith %}

    <p><a href="javascript:history.back()" class="btn btn-lg btn-primary pb-0 boton_registrar">Volver</a></p>
</div>



{% endblock %}