{% extends "layout.html" %} {% block content %} {% block carrusel %}{% endblock %}
<div class="jumbotron">
    <h2 class="display-4 animated fadeIn">Listado de responsables</h2>
    <hr class="my-4"> {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} {% if error_busqueda != 1%}

    <div class="text-right">
        <button class="btn btn-primary" onclick="location.href='/responsable/registrar'">
            <i class="fa fa-plus"></i>
            Agregar responsable
        </button>
    </div>
    <div class="alert alert-warning alert-dismissible fade show animated fadeIn" role="alert">
        <strong>Nota:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
    </div>

    {% endif %}{% endfor %} {% endif %} {% endwith %}

    <!-- No se permite tener el form dentro de la table -->
    <form class="form-horizontal my-2 my-lg-0" method="get">
        {{ form.termino.label }}:
        <div class="from-group">
            <div class="">{{ form.termino(size=32) }}</div>
            <div class="">{{ form.submit() }}</div>
        </div>
    </form>
    <br>

    <p>Total de responsables: <strong>{{ pagination.total }}</strong></p>
    <div class="table-responsive">
        <table class="table text-center">
            <caption>Tabla con los responsables registrados</caption>

            <thead class="thead-dark">
                <tr>
                    <th scope="col" id="id" aria-label="id">ID</th>
                    <th scope="col" id="nombre_y_apellido" aria-label="nombre y apellido">Nombre y apellido</th>
                    <th scope="col" id="operaciones" aria-label="operaciones">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                {% for r in responsables %}
                <tr>
                    <th scope="row" id="tupla{{ loop.index }}">{{ r.id }}</th>
                    <td headers="nombre_y_apellido">{{ r.apellido }},{{ r.nombre }}</td>
                    <td headers="operaciones">

                        {% if 'estudiante_show' in session['permisos'] %}
                        <button type="button" onclick="location.href='/responsable/show/{{ r.id }}'" class="btn btn-primary" title="Ver perfil del responsable" style="margin: 5px"><i class="fa fa-user-circle"></i></button>{% endif %} {% if 'estudiante_destroy'
                        in session['permisos'] %}
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary eliminar" title="Eliminar responsable" role="button" data-toggle="modal" data-target="#eliminarDocenteModal{{ r.id }}"><i class="fa fa-trash"></i>
                        </button> {% endif %} {% if 'estudiante_update' in session['permisos'] %}
                        <button type="button" onclick="location.href='/responsable/editar/{{ r.id }}'" class="btn btn-primary" title="Editar responsable" style="margin: 5px"><i class="fa fa-edit"></i></button> {% endif %}

                        <!-- Modal -->
                        <div class="modal fade" id="eliminarDocenteModal{{ r.id }}" tabindex="-1" role="dialog" aria-labelledby="eliminarDocenteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="eliminarDocenteModalLabel">¿Estás seguro que querés eliminar al responsable {{ r.apellido }} {{ r.nombre }}?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                    </div>
                                    <div class="modal-body">
                                        No se podrá revertir el cambio.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                        <button onclick="location.href='/responsable/eliminar/{{ r.id }}'" type="button" class="btn btn-primary">Si, estoy seguro.</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    <div class="text-center animated fadeIn" aria-label="Páginas de la tabla">
        {{ pagination.links }}
    </div>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} {% if error_busqueda == 1%}

    <div class="alert alert-warning alert-dismissible fade show animated fadeIn" role="alert">
        <strong>Nota:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
    </div>

    {% endif %}{% endfor %} {% endif %} {% endwith %}
</div>



{% endblock %}