{% extends "layout.html" %} {% block content %} {% block carrusel %}{% endblock %}
<div class="jumbotron">
    <h2 class="display-4 animated fadeIn">Listado de estudiantes</h2>
    <hr class="my-4"> {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} {% if error_busqueda != 1%}

    <div class="text-right">
        <button class="btn btn-primary" onclick="location.href='/'">
            <i class="fa fa-plus"></i>
            Agregar estudiante
        </button>
    </div>
    <div class="alert alert-warning alert-dismissible fade show animated fadeIn" role="alert">
        <strong>Nota:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
    </div>

    {% endif %}{% endfor %} {% endif %} {% endwith %}

    <!-- No se permite tener el form dentro de la table -->
    <form class="form-horizontal my-2 my-lg-0" method="get">
        {{ form.termino.label }}:
        <div class="from-group">
            <div class="">{{ form.termino(size=32) }}</div>
            <div class="">{{ form.submit() }}</div>
        </div>
    </form>
    <br>

    <p>Total de estudiantes: <strong>{{ pagination.total }}</strong></p>
    <div class="table-responsive">
        <table class="table text-center">
            <caption>Tabla con los estudiantes registrados</caption>

            <thead class="thead-dark">
                <tr>
                    <th scope="col" id="id" aria-label="id">ID</th>
                    <th scope="col" id="nombre" aria-label="nombre y apellido">Nombre y apellido</th>
                    <th scope="col" id="operaciones" aria-label="operaciones">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                {% for e in estudiantes %}
                <tr>
                    <th scope="row" id="tupla{{ loop.index }}">{{ e.id }}</th>
                    <td headers="nombre y apellido">{{ e.apellido }},{{ e.nombre }}</td>
                    <td headers="operaciones">

                        {% if 'estudiante_show' in session['permisos'] %}
                        <button type="button" onclick="location.href='/estudiante/show/{{ e.id }}'" class="btn btn-primary" title="Ver perfil del estudiante" style="margin: 5px"><i class="fa fa-user-circle"></i></button>{% endif %} {% if 'estudiante_destroy'
                        in session['permisos'] %}
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary eliminar" title="Eliminar estudiante" role="button" data-toggle="modal" data-target="#exampleModal{{ e.id }}"><i class="fa fa-trash"></i>
                        </button> {% endif %} {% if 'estudiante_update' in session['permisos'] %}
                        <button type="button" onclick="location.href='/estudiante/editar/{{ e.id }}'" class="btn btn-primary" title="Editar estudiante" style="margin: 5px"><i class="fa fa-edit"></i></button> {% endif %}

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal{{ e.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">¿Estás seguro que querés eliminar al estudiante {{ e.apellido }} {{ e.nombre }}?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                    </div>
                                    <div class="modal-body">
                                        No se podrá revertir el cambio.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                        <button onclick="location.href='/estudiante/eliminar/{{ e.id }}'" type="button" class="btn btn-primary">Si, estoy seguro.</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    <div class="text-center animated fadeIn" aria-label="Páginas de la tabla">
        {{ pagination.links }}
    </div>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} {% if error_busqueda == 1%}

    <div class="alert alert-warning alert-dismissible fade show animated fadeIn" role="alert">
        <strong>Nota:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
    </div>

    {% endif %}{% endfor %} {% endif %} {% endwith %}
</div>



{% endblock %}