{% extends "layout.html" %} {% block content %} {% block carrusel %}{% endblock %}
<div class="jumbotron">
    <h2 class="display-4 animated fadeIn">Listado de estudiantes</h1>

        <hr class="my-4"> {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} {% if error_busqueda != 1%}

        <div class="alert alert-warning alert-dismissible fade show animated fadeIn" role="alert">
            <strong>Nota:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>

        {% endif %}{% endfor %} {% endif %} {% endwith %}


        <table class="table text-center" summary="Tabla con los usuarios registrados">

            <form class="form-inline my-2 my-lg-0" method="get">
                {{ form.termino.label }}:
                <div class="row">
                    <div class="col-xs-12 col-md-5 col-lg-5">{{ form.termino(size=32) }}</div>
                    <div class="col-xs-4 col-md-2 col-lg-2">{{ form.submit() }}</div>
                </div>
            </form>
            <br>


            <p>Total de estudiantes: <strong>{{ pagination.total }}</strong></p>

            <thead class="thead-dark">
                <tr>
                    <th scope="col" id="email" alt="email">Email</th>
                    <th scope="col" id="nombre" alt="nombre">Nombre y apellido</th>
                    <th scope="col" id="operaciones" alt="operaciones">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                {% for e in estudiantes %}
                <tr>
                    <th scope="row" id="tupla{{ loop.index }}">{{ e.email }}</th>
                    <td headers="nombre y apellido">{{ e.apellido }},{{ e.nombre }}</td>
                    <td headers="operaciones">

                        bu

                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
        <div class="text-center animated fadeIn" aria-label="Páginas de la tabla">
            {{ pagination.links }}
        </div>
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} {% if error_busqueda == 1%}

        <div class="alert alert-warning alert-dismissible fade show animated fadeIn" role="alert">
            <strong>Nota:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>

        {% endif %}{% endfor %} {% endif %} {% endwith %}
</div>



{% endblock %}