{% extends "layout.html" %} {% block content %} {% block carrusel %}{% endblock %}
<form action="" method="post" class="form-signin mb-20 jumbotron animated fadeIn" novalidate>

    <div class="text-center">
        <img class="mb-4 img_form rounded-lg" src="static/images/OEBerisso_logo.png" alt="Logo de la Orquesta Escuela de Berisso">
        <h1 class="h3 mb-3 font-weight-normal">Registrar estudiante</h1>

    </div>

    <!-- Mostrar mensajes guardados en flash -->
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} {% if error == 1 %}

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    {% elif exito == 1 %}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Nota:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>

    {% endif %} {% endfor %} {% endif %} {% endwith %} {{ form.hidden_tag() }}

    <p>
        {{ form.email.label }}:<br> {{ form.email(size=32) }}
    </p>
    <p>
        {{ form.nombre.label }}:<br> {{ form.nombre() }}
    </p>
    <p>
        {{ form.apellido.label }}:<br> {{ form.apellido() }}
    </p>

    <p>
        {{ form.fecha_nac.label }}:<br> {{ form.fecha_nac() }}
    </p>
    <p>
        {{ form.localidad.label }}:<br> {{ form.localidad() }}
    </p>
    <p>
        {{ form.nivel.label }}:<br> {{ form.nivel() }}
    </p>
    <p>
        {{ form.domicilio.label }}:<br> {{ form.domicilio() }}
    </p>
    <p>
        {{ form.genero.label }}:<br> {{ form.genero() }}
    </p>
    <p>
        {{ form.escuela.label }}:<br> {{ form.escuela() }}
    </p>
    <p>
        {{ form.tipo_doc.label }}:<br> {{ form.tipo_doc() }}
    </p>
    <p>
        {{ form.numero.label }}:<br> {{ form.numero() }}
    </p>
    <p>
        {{ form.tel.label }}:<br> {{ form.tel() }}
    </p>
    <p>
        {{ form.barrio.label }}:<br> {{ form.barrio() }}
    </p>

    <div class="row">
        <p class="col">{{ form.submit() }}</p>
        <a href="/home" class="col btn btn-lg btn-primary pb-0 boton_registrar">Volver</a>
    </div>
</form>


{% endblock %}