/* COLORES
CELESTITO #1a91a1
OSCURO (PRIMARIO) #343a40 */


/* =======================================================================

                        ESTRUCTURA GENERAL 
                        
========================================================================= */

section.main {
    margin-bottom: 5% !important;
    padding-bottom: 5% !important;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #343a40;
    width: 100%;
    z-index: 100;
}

main {
    margin-top: 30px;
    margin-bottom: 30px !important;
    padding-bottom: 30px !important;
    height: 100%;
}

.btn-primary {
    background-color: #343a40;
    border-color: #343a40;
}

.btn-primary:hover {
    background-color: #1a91a1;
    border-color: #1a91a1;
}

.jumbotron {
    padding-top: 2rem;
}

a.boton_registrar {
    height: 48px !important;
}


/* LOGO DEL FORM */

.img_form {
    background-color: #343a40 !important;
    width: 100px;
    height: 150px;
    box-shadow: 6px 6px 20px 0px black;
}


/* forms */

form {
    width: 50%;
    margin: auto;
}

div#textarea {
    margin: auto;
    width: 100%;
}


/* Tablas */

ul {
    display: -webkit-inline-box!important;
}

.page-link {
    background-color: #343a40;
    border-color: #343a40;
    color: #fff;
}

.page-link:hover {
    background-color: #1a91a1;
    border-color: #1a91a1;
    color: #fff;
}

.page-item,
.disabled {
    background-color: #1a91a1;
    border-color: #1a91a1;
    color: #fff;
}

.page-item,
.active {
    background-color: #1a91a1;
    border-color: #1a91a1;
    color: #fff;
}

.eliminar {
    background-color: hsl(352, 96%, 56%) !important;
    border-color: hsl(352, 96%, 56%) !important;
}

.eliminar:hover {
    background-color: #db1f38 !important;
    border-color: #db1f38 !important;
}


/* CARRUSEL */

.carru {
    height: 700px;
}


/* =======================================================================

                        MANTENIMIENTO DEL SITIO
                        
========================================================================= */

body#mantenimiento {
    background-color: #343a40;
}

div.mantenimiento {
    padding-top: 10%;
    height: 500px;
}

img.mantenimiento {
    height: 80% !important;
    box-shadow: 6px 6px 20px 0px black;
}


/* =======================================================================

                        SOCIAL
                        
========================================================================= */

.social {
    text-decoration: none !important;
    padding: 15px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    font-size: x-large !important;
    background-color: black;
    border-color: #1a91a1;
    color: #1a91a1;
}


/* Add a hover effect if you want
.fa:hover {
    opacity: 0.7;
  } */


/* =======================================================================

                        SHOW USUARIO
                        
========================================================================= */

div.list-group {
    background-color: #e9ecef !important;
}

li.list-group-item {
    background-color: #e9ecef !important;
}