/* COLORES
CELESTITO #1a91a1
OSCURO (PRIMARIO) #343a40 */


/* =======================================================================

                        ESTRUCTURA GENERAL 
                        
========================================================================= */

footer {
    position: fixed;
    bottom: 0;
    background-color: #343a40;
    width: 100%;
}

main {
    margin-top: 30px;
    margin-bottom: 30px !important;
    padding-bottom: 30px !important;
}

.btn-primary {
    background-color: #343a40;
    border-color: #343a40;
}

.btn-primary:hover {
    background-color: #1a91a1;
    border-color: #1a91a1;
}


/* LOGO DEL FORM */

.img_form {
    background-color: #343a40 !important;
    width: 100px;
    height: 150px;
    ;
}


/* forms */

form {
    width: 50%;
    margin: auto;
}

div#textarea {
    margin: auto;
    width: 100%;
}