/* COLORES
CELESTITO #1a91a1
OSCURO (PRIMARIO) #343a40 */


/* =======================================================================

                        ESTRUCTURA GENERAL 
                        
========================================================================= */

footer {
    position: fixed;
    bottom: 0;
    background-color: #343a40;
    width: 100%;
}

main {
    margin-top: 30px;
    margin-bottom: 30px !important;
    padding-bottom: 30px !important;
    height: 100%;
}

.btn-primary {
    background-color: #343a40;
    border-color: #343a40;
}

.btn-primary:hover {
    background-color: #1a91a1;
    border-color: #1a91a1;
}


/* LOGO DEL FORM */

.img_form {
    background-color: #343a40 !important;
    width: 100px;
    height: 150px;
    ;
}


/* forms */

form {
    width: 50%;
    margin: auto;
}

div#textarea {
    margin: auto;
    width: 100%;
}


/* Tablas */

.paginador {
    display: -webkit-inline-box!important;
}

.page-link {
    background-color: #343a40;
    border-color: #343a40;
    color: #fff;
}

.page-link:hover {
    background-color: #1a91a1;
    border-color: #1a91a1;
    color: #fff;
}

.page-item, .disabled {
    background-color: #1a91a1;
    border-color: #1a91a1;
    color: #fff;
}

.page-item, .active {
    background-color: #1a91a1;
    border-color: #1a91a1;
    color: #fff;
}

.eliminar {
    background-color: hsl(352, 96%, 56%) !important;
    border-color: hsl(352, 96%, 56%) !important;
}

.eliminar:hover {
    background-color: #db1f38 !important;
    border-color: #db1f38 !important;
}


/* =======================================================================

                        MANTENIMIENTO DEL SITIO
                        
========================================================================= */

body#mantenimiento {
    background-color: #343a40;
}

div.mantenimiento {
    padding-top: 10%;
    height: 500px;
}

img.mantenimiento {
    height: 80% !important;
    box-shadow: 6px 6px 20px 0px black;
}