{% extends "layout.html" %} {% block content %} {% block carrusel %}{% endblock %}
<form action="" method="post" class="form-signin jumbotron animated fadeIn" novalidate>

    <div class="text-center">
        <img class="mb-4 img_form rounded-lg" src="static/images/OEBerisso_logo.png" alt="Logo de la Orquesta Escuela de Berisso">
        <h1 class="h3 mb-3 font-weight-normal">Configuracion del sistema</h1>

    </div>

    <!-- Mostrar mensajes guardados en flash -->
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} {% if error == 1%}

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
    </div>
    {% elif exito == 1 %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Nota:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
    </div>
    {% endif %}{% endfor %} {% endif %} {% endwith %} {{ form.hidden_tag() }}

    <p>
        {{ form.titulo.label }}:<br> {{ form.titulo() }}
    </p>
    <p>
        {{ form.descripcion.label }}:<br> {{ form.descripcion() }}
    </p>
    <p>
        {{ form.contacto.label }}:<br> {{ form.contacto() }}
    </p>
    <p>
        {{ form.paginacion.label }}:<br> {{ form.paginacion() }}
    </p>

    <div class="form row justify-content-md-center">

        <p>{{ form.sitio_habilitado() }} {{ form.sitio_habilitado.label }}</p>
    </div>

    <div class="row">
        <p class="col">{{ form.submit() }}</p>
        <a href="/home" class="col btn btn-lg btn-primary pb-0 boton_registrar">Volver</a>

    </div>
</form>

{% endblock %}