{% extends "layout.html" %} {% block content %} {% block carrusel %}{% endblock %}

<form method="post" class="form-signin jumbotron animated fadeIn">
    <div class="text-center">
        <img class="mb-4 img_form rounded-lg" src="/static/images/OEBerisso_logo.png" alt="Logo de la Orquesta Escuela de Berisso">
        <h1 class="h3 mb-3 font-weight-normal">Editar usuario</h1>
    </div>

    <!-- Mostrar mensajes guardados en flash -->
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} {% if error == 1 %}

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>

    {% elif exito == 1 %}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Éxito:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>

    {% endif %} {% endfor %} {% endif %} {% endwith %} {{ form.hidden_tag() }}

    <p>
        {{ form.email.label }}:<br> {{ form.email(size=32) }}
    </p>
    <p>
        {{ form.username.label }}:<br> {{ form.username(size=32) }}
    </p>
    <p>
        {{ form.first_name.label }}:<br> {{ form.first_name() }}
    </p>
    <p>
        {{ form.last_name.label }}:<br> {{ form.last_name() }}
    </p>


    <h4 class="mt-4">Administrar roles:</h4>

    <h6>Roles actuales:</h6>
    <ol class="pt-2">
        {% for r in roles_usuario %}
        <li>{{ r | capitalize }}</li>
        {% endfor %}
    </ol>

    <div class="form row justify-content-md-center  mb-5">
        <p class="mr-5">{{ form.agregar_rol.label }}{{ form.agregar_rol }}</p>
        <p>{{ form.quitar_rol.label }}{{ form.quitar_rol }}</p>
    </div>


    <p>{{ form.submit() }}</p>
    <p><a href="javascript:history.back()" class="col btn btn-lg btn-primary pb-0 boton_registrar">Volver</a></p>
</form>

{% endblock %}