{% extends "layout.html" %} {% block content %} {% block carrusel %}{% endblock %}
<div class="jumbotron">
    <h2 class="display-4">Administración de {{ titulo }}</h1>

        <hr class="my-4"> {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Nota:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>

        {% endfor %} {% endif %} {% endwith %}


        <table class="table text-center" summary="Tabla con los usuarios registrados">

            <form class="form-inline my-2 my-lg-0" method="get">
                {{ form.termino.label }}:
                <div class="row">
                    <div class="col">{{ form.termino(size=32) }}</div>

                    <div class="col">{{ form.submit() }}</div>
                </div>
            </form>
            <br>


            <p>Total de usuarios: <strong>{{ pagination.total }}</strong></p>

            <thead class="thead-dark">
                <tr>
                    <th scope="col" id="email" alt="email">Email</th>
                    <th scope="col" id="username" alt="username">Username</th>
                    <th scope="col" id="nombre" alt="nombre">Nombre</th>
                    <th scope="col" id="apellido" alt="apellido">Apellido</th>
                    <th scope="col" id="operaciones" alt="operaciones">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                {% for u in usuarios %}
                <tr>
                    <th scope="row" id="tupla{{ loop.index }}">{{ u.email }}</th>
                    <td headers="username">{{ u.username }}</td>
                    <td headers="nombre">{{ u.first_name }}</td>
                    <td headers="apellido">{{ u.last_name }}</td>
                    <td headers="operaciones">

                        {% if rol+"_update" in session['permisos'] and u.id != session['user']['id'] %} {% if u.activo %}
                        <button type="button" onclick="location.href='/activar/{{ u.id }}/{{ rol }}'" class="btn btn-primary" title="Desactivar usuario" onkeypress="location.href='/activar/{{ u.id }}/{{ rol }}'" role="button">Desactivar</button> {% else
                        %}
                        <button type="button" onclick="location.href='/activar/{{ u.id }}/{{ rol }}'" class="btn btn-primary" title="Activar usuario" onkeypress="location.href='/activar/{{ u.id }}/{{ rol }}'" role="button">Activar</button> {% endif %}
                        <button type="button" onclick="location.href='/editar/{{ u.id }}/{{ rol }}'" class="btn btn-primary" title="Editar usuario" role="button"><i class="fa fa-edit"></i></button>
                        <!-- poner el 'onkeypress' para la accesibilidad :/ -->
                        {% endif %} {% if rol+"_show" in session['permisos'] %}
                        <button type="button" onclick="location.href='/show/{{ u.id }}/{{ rol }}'" class="btn btn-primary" title="Ver perfil del usuario" role="button"><i class="fa fa-user-circle"></i></button>
                        <!-- poner el 'onkeypress' para la accesibilidad :/ -->
                        {% endif %}
                        <!-- poner el 'onkeypress' para la accesibilidad :/ -->
                        <button type="button" onclick="location.href='/eliminar/{{ u.id }}/{{ rol }}'" class="btn btn-primary eliminar" title="Eliminar usuario" role="button"><i class="fa fa-trash"></i></button>


                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
        <div class="text-center" aria-label="Páginas de la tabla">
            {{ pagination.links }}
        </div>
</div>



{% endblock %}