{% extends "layout.html" %} {% block content %} {% block carrusel %}{% endblock %}

<div class="jumbotron">
    <h1 class="display-6 mt-2 mb-2 pt-2 pb-2"><i class="fa fa-user" aria-hidden="true"></i> {{ usuario.last_name }}, {{ usuario.first_name }}
    </h1>
    <h4>{{ usuario.username }}</h4>
    <hr class="my-2">
    <br>
    <h5 class="mb-4 mt-4 pt-4"><i class="fa fa-info-circle"></i> Información del usuario:</h5>

    <menu class="list-group list-group-flush">
        <li class="list-group-item"><strong>Email: </strong>{{ usuario.email }}</li>
        <li class="list-group-item"><strong>Fecha de creación: </strong>{{ usuario.created_at }}</li>
        <li class="list-group-item"><strong>Estado: </strong> {% if usuario.activo == 1 %} Activo {% else %} Inactivo {% endif %}</li>
        <li class="list-group-item"><strong>Roles: </strong>
            <ol class="pt-2">
                {% for r in roles %}
                <li>{{ r | capitalize }}</li>
                {% endfor %}
            </ol>
        </li>
    </menu>
</div>

{% endblock %}