/* COLORES
CELESTITO #1a91a1
OSCURO (PRIMARIO) #343a40 */


/* =======================================================================

                        ESTRUCTURA GENERAL 
                        
========================================================================= */

footer {
    position: fixed;
    bottom: 0;
    background-color: #343a40;
    width: 100%;
}

main {
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-primary {
    background-color: #343a40;
    border-color: #343a40;
}

.btn-primary:hover {
    background-color: #1a91a1;
    border-color: #1a91a1;
}