{% extends "layout.html" %} {% block content %} {% block carrusel %}{% endblock %}

<div class="jumbotron">
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} {% if error_busqueda != 1%}

    <div class="alert alert-warning alert-dismissible fade show animated fadeIn" role="alert">
        <strong>Nota:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>

    {% endif %}{% endfor %} {% endif %} {% endwith %}
    <h1 class="display-6 mt-2 mb-2 pt-2 pb-2"><i class="fa fa-book" aria-hidden="true"></i> Registro de Asistencia
    </h1>
    <hr class="my-2">
    <br>
    <form class="form-horizontal my-2 my-lg-0" method="get">
        {{ form.termino.label }}:
        <div class="from-group">
            <div class="">{{ form.termino(size=32) }}</div>
            <div class="">{{ form.submit() }}</div>
        </div>
    </form>
    <br> {% if (pagination.total == 0 and error_busqueda != 1) %}
    <div class="alert alert-warning alert-dismissible fade show animated fadeIn" role="alert">
        <strong>Nota:</strong> No hay talleres cargados.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
    </div>
    {% endif %}

    <p>Total de talleres: <strong>{{ pagination.total }}</strong></p>
    <div class="table-responsive">
        <table class="table text-center">
            <caption>Tabla con los talleres</caption>

            <thead class="thead-dark">
                <tr>
                    <th scope="col" id="nombre" aria-label="nombre">Taller</th>
                    <th scope="col" id="profesor" aria-label="nombre">Profesor</th>
                    <th scope="col" id="horario" aria-label="nombre">Horario</th>
                    <th scope="col" id="dia" aria-label="nombre">Día</th>
                    <th scope="col" id="nucleo" aria-label="nombre corto">Nucleo</th>
                    <th scope="col" id="operaciones" aria-label="operaciones">Operaciones</th>
                </tr>
            </thead>
            <tbody>{% for t in talleres %}
                <tr>
                    <td headers="nombre">{{ t.nombre_taller }}</td>
                    <td headers="docente">{{ t.apellido }}, {{ t.nombre_docente }}</td>
                    <td headers="horario">{{ t.hora_inicio }} - {{ t.hora_fin }}</td>
                    <td headers="dia">{{ t.dia }}</td>
                    <td headers="nucleo">{{ t.nombre_nucleo }}</td>
                    <td headers="operaciones">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" title="Pasar asistencia" onclick="location.href='/asistencia/pasar/{{ t.id_ciclo }}/{{ t.id_taller }}'">
                            Pasar asistencia
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    <div class="text-center animated fadeIn" aria-label="Páginas de la tabla">
        {{ pagination.links }}
    </div>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} {% if error_busqueda == 1%}

    <div class="alert alert-warning alert-dismissible fade show animated fadeIn" role="alert">
        <strong>Nota:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
    </div>

    {% endif %}{% endfor %} {% endif %} {% endwith %}
</div>

{% endblock %}